<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PachaSystemERP.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PachaSystemERP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="Cuit" value="20376893198"/>
    <add key="PasswordCertificado" value="thunder_300"/>
    <add key="RutaCertificado" value="C:\Certificados\CertificadoAFIP.pfx"/>
    <add key="ModoDeFacturacion" value="FacturaElectronica"/>
    <add key="ModoDeOperacion" value="Homologacion"/>
    <add key="PuntoDeVenta" value="1"/>
    <add key="TipoResponsable" value="6"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Information,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\logs\App_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="C:\logs\App_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <system.serviceModel>
    <behaviors/>
    <diagnostics performanceCounters="Default">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true"/>
    </diagnostics>
    <bindings>
      <basicHttpsBinding>
        <binding name="BasicHttpsBinding"/>
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="https://wsaahomo.afip.gov.ar/ws/services/LoginCms" binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding"
        contract="PachaSystem.Wsaa.IWsaaClient" name="WsaaHomologacion" kind="" endpointConfiguration=""/>
      <endpoint address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx" binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding"
        contract="PachaSystem.Wsfe.IWsfeClient" name="WsfeHomologacion" kind="" endpointConfiguration=""/>
      <endpoint address="https://wsaa.afip.gov.ar/ws/services/LoginCms" binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding"
        contract="PachaSystem.Wsaa.IWsaaClient" name="WsaaProduccion" kind="" endpointConfiguration=""/>
      <endpoint address="https://servicios1.afip.gov.ar/wsfev1/service.asmx" binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding"
        contract="PachaSystem.Wsfe.IWsfeClient" name="WsfeProduccion" kind="" endpointConfiguration=""/>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="PachaSystemERP.Properties.Settings.PachaSystemERPConnectionString"
      connectionString="Data Source=ACER\SQLEXPRESS;Initial Catalog=PachaSystemERP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <PachaSystemERP.Properties.Settings>
      <setting name="NombreFantasia" serializeAs="String">
        <value>Pacha System</value>
      </setting>
      <setting name="RazonSocial" serializeAs="String">
        <value>Walter Gonzalez Adolfo</value>
      </setting>
      <setting name="Domicilio" serializeAs="String">
        <value>Alvar Nuñez 0 Dpto 22, Puerto Iguazu, Misiones</value>
      </setting>
      <setting name="CondicionFiscal" serializeAs="String">
        <value>IVA Responsable Inscripto</value>
      </setting>
      <setting name="CUIT" serializeAs="String">
        <value>20247825607</value>
      </setting>
      <setting name="IngresosBrutos" serializeAs="String">
        <value>20247825607</value>
      </setting>
      <setting name="FechaInicioActividades" serializeAs="String">
        <value>2005-11-01</value>
      </setting>
      <setting name="PuntoVenta" serializeAs="String">
        <value>1</value>
      </setting>
    </PachaSystemERP.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <PachaSystemERP.Properties.Settings>
      <setting name="TestingDN" serializeAs="String">
        <value>"cn = wsaahomo,o = afip,c = ar,serialNumber = CUIT 33693450239"</value>
      </setting>
      <setting name="AccessTicketGenerationTime" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessTicketExpirationTime" serializeAs="String">
        <value />
      </setting>
      <setting name="WebServiceName" serializeAs="String">
        <value>wsfe</value>
      </setting>
      <setting name="ProductionDN" serializeAs="String">
        <value>"cn = wsaa,o = afip,c = ar,serialNumber = CUIT 33693450239"</value>
      </setting>
      <setting name="IsTestingMode" serializeAs="String">
        <value>True</value>
      </setting>
    </PachaSystemERP.Properties.Settings>
  </userSettings>
</configuration>